<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
      />
    </mat-form-field>

    <button
      [disabled]="!loginForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </form>
</section>
